.search-card {
    width: fit-content;
    border-bottom: 1px solid var(--primary);
    border-top: 1px solid var(--primary);
    border-radius: 20px;
    margin: 1.5em;
    padding: 15px;
    cursor: pointer;
    background: var(--card-color);
    transition: transform .3s;
}

.card-stack-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    justify-items: center;
}

.search-card:hover {
    background: var(--card-hover);
    transform: scale(1.05);
}