#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.header-container {
  position: absolute;
  text-align: center;
}

#header-logo {
  height: 30px;
  width: 30px;
}

#header-title {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.navbar-container {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; */
    display: flex;
    
  }