#root {
  padding: 1rem;
  text-align: center;
  font-family: 'Figtree', sans-serif;
}

body {
  display: inline;
  background: var(--secondary);
  color: white;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  gap: 25px;
  font-size: 30px;
  align-items: center;
}

.header-component {
  display: flex;
  align-items: center;
}

.navbar-links {
  justify-content: space-between;
  margin-left: auto;
}

#header-logo {
  height: 30px;
  width: 30px;
  padding: 5px;
}

.navbar-container a {
  text-decoration: none;
  padding: 6px;
  color: white;
  /* transition: transform .3s; */
}

/* .navbar-container a:hover {
  transform: scale(1.05);
} */

.navbar-container a.active {
  color: var(--primary);
}

.card-stack-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  column-gap: 10px;
  justify-items: center;
}

.artist-card, .card-stack-card {
  width: 300px;
  height: 400px;
  border-bottom: 1px solid var(--primary);
  border-top: 1px solid var(--primary);
  border-radius: 20px;
  margin: 1.5em;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  background: var(--card-color);
  transition: transform .3s;
}

.artist-card:hover,
.card-stack-card:hover {
  background: var(--card-hover);
  transform: scale(1.05);
}

#card-title {
  margin: 2rem;
  font-size: 1.5rem;
}

#card-img {
  width: 250px;
  margin-top: 1em;
  height: 250px;
}