#root {
  padding: 1rem;
  text-align: center;
  font-family: 'Figtree', sans-serif;
}

body {
  display: inline;
  background: var(--secondary);
  color: white;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  gap: 25px;
  font-size: 25px;
  align-items: center;
}

.header-component {
  display: flex;
  align-items: center;
}

.navbar-links {
  justify-content: space-between;
  margin-left: auto;
}

#header-logo {
  height: 25px;
  width: 25px;
  padding: 5px;
}

.navbar-container a {
  text-decoration: none;
  padding: 6px;
  color: white;
  transition: transform .3s;
}

.navbar-container a:hover {
  transform: scale(1.05);
  /* add the orange color to slide from middle to out on hover */
}

.navbar-container a.active {
  color: var(--primary);
}

.card-stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.artist-card {
  /* width: 22%; */
  width: fit-content;
  border-bottom: 1px solid var(--primary);
  border-top: 1px solid var(--primary);
  border-radius: 20px;
  margin: 1.5em;
  padding: 15px;
  cursor: pointer;
  /* box-sizing: content-box; */
  background: var(--card-color);
  transition: transform .3s;
}

.artist-card:hover {
  background: var(--card-hover);
  transform: scale(1.05);
}

#card-title {
  margin: 5px;
}

#card-img {
  width: 70%;
  margin-top: 1em;
  height: 100%;
  border-radius: 25%;
}